<footer id="footer">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2><a href="/pages/about.html">Giới thiệu</a></h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2>Mục lục</h2>
                        <ul class="tag_nav">
                            <li><a href="#">Thời sự</a></li>
                            <li><a href="#">Đời sống</a></li>
                            <li><a href="#">Kinh tế</a></li>
                            <li><a href="#">Pháp luật</a></li>
                            <li><a href="#">Giải trí</a></li>
                            <li><a href="#">Y tế</a></li>
                            <li><a href="#">Du lịch</a></li>
                            <li><a href="#">Gia đình</a></li>
                            <li><a href="#">Làm đẹp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2>Liên hệ</h2>
                        <p></p>
                        <address>
                            
                        </address>
                        <ul class="list_phone">
                            <li><img src="/images/icon_phone.png"> Hotline: 091 234 5678 </li>
                            <li><img src="/images/icon_ad.png"> Quảng cáo: 090 666 8888</li>
                        </ul>
                        <div class="clearfix">
                            <div class="social_area">
                                <ul class="social_nav">
                                    <li class="facebook">
                                        <a href="#"></a>
                                    </li>
                                    <li class="googleplus">
                                        <a href="#"></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>