<script>
    $(document).ready(function() {
        // for hover dropdown menu
        var windowsize = $(window).width();
        if (windowsize > 767) {
            $('ul.nav li.dropdown').hover(function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        }
        else {
            var headerHeight = $("#header").height();
            var btnNavHeight = $(".navbar-toggle").height();
            var newHeight = headerHeight + btnNavHeight;
            $(".navbar").css({top: newHeight});
        }
    });
</script>
<header id="header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_top">
                <div class="header_top_left">
                    <span><strong>Hà Nội:</strong> 32°C</span>
                    <span><strong>USD:</strong> Vcb 23,210/23,290</span>
                    <span><strong>Vàng 9999:</strong> SJC 36,570/36,650</span>
                </div>
                <div class="header_top_right">
                    <span><strong>Hotline:</strong> 0912345678 </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
            <div class="container">
                <div class="header_bottom">
                    <div class="logo_area">
                        <a href="index.html" class="logo"><img src="/images/logo.png" alt=""></a>
                    </div>
                    <div class="add_banner">
                        <a href="#"><img src="/images/picturemessage_krat5yga.ijk.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="clearfix">
        <section id="navArea">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-inverse">
                    <ul class="nav navbar-nav main_nav">
                        <li class="active"><a href="/index.html"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                        <li class="dropdown"> <a href="/pages/category.html">Thời sự</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Trong nước</a></li>
                                <li><a href="#">Quốc tế</a></li>
                                <li><a href="#">Xã hội</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Đời sống</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Dân sinh</a></li>
                                <li><a href="#">Giáo dục</a></li>
                                <li><a href="#">Môi trường</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Kinh tế</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Mua sắm</a></li>
                                <li><a href="#">Bất động sản</a></li>
                                <li><a href="#">Kinh doanh</a></li>
                                <li><a href="#">Tài chính - Ngân hàng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Pháp luật</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">An ninh</a></li>
                                <li><a href="#">Hình sự</a></li>
                                <li><a href="#">Hôn nhân</a></li>
                                <li><a href="#">Gia đình</a></li>
                                <li><a href="#">Sympony</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Giải trí</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Chuyện của sao</a></li>
                                <li><a href="#">Âm nhạc</a></li>
                                <li><a href="#">Ẩm thực</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Y tế</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Sức khỏe</a></li>
                                <li><a href="#">Dinh dưỡng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Du lịch</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Check-in</a></li>
                                <li><a href="#">Kinh nghiệm</a></li>
                                <li><a href="#">Tours</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Gia đình</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Làm cha mẹ</a></li>
                                <li><a href="#">Tin nóng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Làm đẹp</a><span class="dropdown-toggle fa fa-caret-down" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Thời trang</a></li>
                                <li><a href="#">Thẩm mỹ</a></li>
                                <li><a href="#">Spa</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
</div>